.todo-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.25em;
  --border-radius: 8px;
}

.todo-list ul {
  list-style: none;
  padding-left: 0;
}

.todo-list li {
  border: 1px solid gray;
  display: flex;
}

.todo-list li:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.todo-list li:last-child {
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

.todo-list li:only-child {
  border-radius: var(--border-radius);
}

.todo-list li .delete-button {
  margin-left: auto;
  border-radius: inherit;
  border-color: crimson;
  background: none;
}

.todo-list li .delete-button:hover,
.todo-list li .delete-button:active,
.todo-list li .delete-button:focus {
  background-color: crimson;
  color: white;
}

.todo-form input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.todo-form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
